body{
  box-sizing: border-box;
}

h2{
  margin-top: 20px;
  margin-bottom: 10px;
}

.content-wrapper {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  align-items: start;
}

.filter-container {
  align-self: center;
}

#filter-dropdown {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border: solid 3px black;
  border: transparent 1%;
  background-color: #ffffff;
  color: #2c3c3c;
  transition: all 0.3s;
}

#filter-dropdown:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#filter-dropdown:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(255, 0, 0);
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.content-container a {
  position: relative;
  width: 80%;
  height: 150px;
  overflow: hidden;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 10px;
  text-decoration: none;
  background: black; 
}
.content-container a:hover h3 {
  color: red;
}

.content-container a img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.content-container a h3 {
  position: absolute;
  bottom: 0;
  padding: 8px;
  color: #ffffff;
  font-size: 3vw;
  width: 100%;
  background-color: #000000;
  box-sizing: border-box;
  z-index: 1; 
}

.content-container a:hover img {
  transform: scale(1.05);
}
.empty-post {
  width: 19%;
  height: 150px;
}

.view-more-button {
  display: block;
  width: 200px;
  height: 40px;
  margin: 20px auto;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 3px #00000033;
  border: solid 3px #000000;
  background-color: #ffffff;
  color: #2c3c3c;
  transition: all 0.3s;
  text-align: center; 
}

.view-more-button:hover {
  border: solid 3px #ff0000;
}

.responsive-heading {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 376px) {
  .responsive-heading {
    display: block;
  }
}

@media (max-width: 375px) {
  .responsive-heading {
    display: grid;
    grid-template-rows: 1fr 1fr; 
  }
}


@media (max-width: 767px) {
  .filter-container {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .content-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .content-container a {
    width: 48%;
  }

  .content-container a h3 {
    font-size: 1.2vw;
  }
}

@media (min-width: 900px) {
  .content-container a {
    width: 30%;
  }

  
}

@media (min-width: 1250px) {
  .filter-container {
    align-self: start;
  }
  /*Calculations for updating height and font size based on */
  .content-container a {
    width: 19%; 
    height: calc(120px + (100vw - 1250px) * 0.05); 
    height: min(max(120px, calc(120px + (100vw - 1250px) * 0.05)), 200px); 
  }

  .content-container a h3 {
    font-size: calc(0.8vw - (100vw - 1250px) * 0.0005);
    font-size: max(min(0.8vw, calc(0.8vw - (100vw - 1250px) * 0.0005)), 0.1vw); 
  }
}
@media (min-width: 2000px) and (max-width: 2499px){
  .content-container a{
    height: 220px;
  }
}
@media (min-width: 2500px) and (max-width: 5000px){
  .content-container a{
    height: 350px;
  }
}