:root {
  --black: #000000;
  --boxshadow: #000000d5;
  --white: #ffffff;
}
/*Main carousel container*/
.carousel-outer-styling {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url(/assets/images/carouselbackground.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin-top: 50px;
  border-top: 5px solid var(--black);
  border-bottom: 5px solid var(--black);
 
}
.carousel-wrapper {
  overflow: hidden;
  height: 300px;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 50px;
}
.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}
/*Slides*/
.carousel-slides-container {
  display: flex;
  height: 100%;
}
.carousel-slide {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  transition: transform 1s ease;
  justify-content: space-between; 
  padding: 10px;
}
.carousel-slide a {
  display: block;
  width: calc(25% - 10px);
  height: 98%;
  box-shadow: 0 0 20px  var(--black);
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-basis: calc(25% - 10px);
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 10px;
  
}
.post h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: var(--white);
  font-size: 1.2rem;
  width: 100%;
  background-color: var(--black);
  box-sizing: border-box;
  z-index: 1;
}
.post img {
  transition: transform 0.3s ease;
}

.post:hover img {
  transform: scale(1.05);
}

/*Buttons*/
.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--boxshadow);
  color: var(--white);
  border: solid;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 24px;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  transition: opacity 0.3s; 
}
.arrow-btn:hover {
  color: var(--black);
  opacity: 1;
}
.prev-btn {
  left: calc(2% - 20px);
}

.next-btn {
  right: calc(2% - 20px);
}
.arrow-btn::before {
  content: "";
  display: inline-block;
  font-family: 'Arial', sans-serif; 
}
.prev-btn::before {
  content: "\00AB"; 
}
.next-btn::before {
  content: "\00BB"; 
}

@media (max-width: 1024px) {
  .carousel-outer-styling {
    display: none;
  }
}
