h3 {
  font-size: 3vw;
}

body {
  box-sizing: border-box;
}



.grid-sections {
  margin-bottom: 50px;
}

.reviews-post-container a,
.news-post-container a {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 10px;
  text-decoration: none;
  background: var(--black);
  margin-top: 20px;
  box-shadow: 0 0 20px var(--boxshadow);
}

.reviews-post-container a img,
.news-post-container a img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.reviews-post-container a h3,
.news-post-container a h3 {
  position: absolute;
  bottom: 0;
  padding: 10px;
  height: 50px;
  color: var(--white);
  width: 100%;
  background-color: var(--black);
  box-sizing: border-box;
  z-index: 1;
}

.reviews-post-container,
.news-post-container {
  width: 70%;
  margin: auto;
}

.reviews-post-container a:hover img,
.news-post-container a:hover img {
  transform: scale(1.05);
}

.sticky-wrapper {
  width: 50%;
  margin: auto;
  margin-top: 40px;
}

.trending-container {
  width: 70%;
}

.trending-post {
  margin-top: 20px;
}

.trending-post a {
  color: inherit;
  text-decoration: none;
  display: block;
  background-color: var(--white);
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px var(--boxshadow);
  transition: box-shadow 0.3s ease;
  padding: 20px;
}

@media screen and (min-width: 762px) {
  .reviews-post-container a,
  .news-post-container a {
    height: 200px;
  }
  h2 {
    margin-top: 40px;
  }
  h3 {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 1024px) {
  .sections-container {
    display: flex;
    width: 100%;
  }

  .sections-container .grid-sections {
    width: 70%;
  }

  .reviews-news-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .reviews-container,
  .news-container {
    width: 100%;
  }

  .reviews-post-container .post-container,
  .news-post-container .post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .reviews-post-container a,
  .news-post-container a {
    height: 200px;
    width: 100%;
    box-sizing: border-box;
  }

  .sticky-wrapper {
    width: 30%;
    margin: 0;
  }

  .trending-container {
    position: sticky;
    top: 105px;
  }

  h3 {
    font-size: 14px;
  }
}

.reviews-post-container .post-container,
.news-post-container .post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .reviews-post-container .post-container,
  .news-post-container .post-container {
    grid-template-columns: 1fr;
  }
  .reviews-container,
  .news-container{
    margin-top: 30px;
  }

  .reviews-post-container a,
  .news-post-container a {
    height: 250px;
  }

  .trending-container {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .reviews-post-container a,
  .news-post-container a {
    height: 150px;
  }

  .trending-container {
    width: 100%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1300px) {
  .reviews-post-container a,
  .news-post-container a {
    height: 150px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1500px) {
  .reviews-post-container .post-container,
  .news-post-container .post-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1900px) {
  .reviews-post-container a,
  .news-post-container a {
    height: 150px;
  }
}

@media screen and (min-width: 1501px) {
  .reviews-post-container .post-container,
  .news-post-container .post-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
