h3{
  font-size: 3vw;
}
body{
  box-sizing: border-box;
}

.reviews-post-container a,
.news-post-container a{
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 10px;
  text-decoration: none;
  background: black; 
  margin-top: 20px;
  box-shadow: 0 0 20px  #000000d5;
}
.reviews-post-container a img,
.news-post-container a img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.reviews-post-container a h3,
.news-post-container a h3{
  position: absolute;
  bottom: 0;
  padding: 10px;
  height: 50px;
  color: #ffffff;
  width: 100%;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  z-index: 1; 
}
.trending-post a h3{
  padding: 10px;
  height: 50px;
  color: #ffffff;
  width: 100%;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  z-index: 1; 
}
.reviews-post-container,
.news-post-container{
  width: 80%;
  margin: auto;
}
.reviews-post-container a:hover,
.news-post-container a:hover{
  box-shadow: 0 0 20px  #ff0000d5;
}
.reviews-post-container a:hover img ,
.news-post-container a:hover img {
  transform: scale(1.05);
}
.sticky-wrapper{
  width: 50%;
  margin: auto;
}
.trending-container{
  width: 80%;
  margin: auto;
}
.trending-posts-container{
  margin-top: 20px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}
.trending-posts-container:hover{
  box-shadow: 0 0 10px #ff0000;
}
.trending-post {
  border: none;
  border-radius: 0;
  padding: 20px;
}
.trending-post:first-child {
  border-radius: 10px 10px 0 0;
}
.trending-container .sectionpost:last-child {
  border-radius: 0 0 10px 10px;
}

.reviews-post-container .post-container, .news-post-container .post-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}


@media screen and (min-width: 762px) {
  .reviews-post-container a,
  .news-post-container a{
    height: 300px;
  }
  h2{
    margin-top: 40px;
  }
  h3{
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 1024px) {
  .sections-container {
    display: flex;
    width: 100%;
  }
  .sections-container .grid-sections {
    width: 70%;
  }
  .reviews-news-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .reviews-container,
  .news-container {
    width: 100%;
  }
  .reviews-post-container .post-container,
  .news-post-container .post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .reviews-post-container a,
  .news-post-container a {
    height: 300px;
    width: 100%;
    box-sizing: border-box;
  }
  .sticky-wrapper{
    width: 30%;
    margin: 0;
  }
  .trending-container {
    position: sticky;
    top: 105px;
  }
  h3 {
    font-size: 16px;
  }
}
.reviews-post-container .post-container,
.news-post-container .post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media screen and (max-width: 1024px) {
  .reviews-post-container .post-container, .news-post-container .post-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1500px) {
  .reviews-post-container .post-container, .news-post-container .post-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1501px) {
  .reviews-post-container .post-container, .news-post-container .post-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
