/*Stylesheet for nav menu*/
.menu {
  background: var(--black);
}

.navigation {
  color: var(--white);
  font-size: 22px;
  position: relative;
  top: 15px;
}

/*Styling for hamburger menu for mobile and pad, hidden checkbox covered by decorated span's.
Simple transforms to hide menu off screen to the left. 
When checkbox is checked, resets transform on the menu container to restore original position, and rotates span's 45 degrees to form a cross*/
@media screen and (max-width: 1024px) {
  .logo {
    margin-top: 10px;
  }

  nav {
    z-index: 2;
  }

  .nav {
    position: relative;
  }

  .nav,
  .nav > input {
    display: block;
  }

  .nav > span {
    background: var(--black);
  }

  .nav {
    padding: 10px;
    z-index: 5;
  }

  .nav > a {
    color: var(--white);
  }

  .nav > input {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  .nav > span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
  }

  .nav > span:first-child {
    transform-origin: 0% 0%;
  }

  .nav > span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .nav > input:checked ~ span {
    background: var(--white);
    opacity: 1;
    transform: rotate(45deg);
  }

  .nav > input:checked ~ span:nth-last-child(3) {
    opacity: 0;
  }

  .nav > input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg);
  }

  .menu-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    background: var(--black);
  }

  .menu {
    width: 100%;
    list-style-type: none;
    padding: 10px 0px 40px 0px;
  }

  .menu > li {
    padding: 8px 0;
    text-align: center;
  }

  .nav > input:checked ~ .menu-container {
    transform: none;
  }
}
/*Changes to logo size for different viewports for a more natural size*/
@media screen and (max-width: 500px) {
  .logo {
    width: 200px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1250px) {
  .logo {
    width: 250px;
    position: absolute;
    margin-top: 5px;
  }
}

/*For laptops and desktops, hides checkbox to show normal list - restyled to a normal top bar menu*/
@media screen and (min-width: 1025px) {
  .checkbox {
    display: none;
  }

  .nav {
    display: flex;
    padding: 10px;
    background: var(--black);
    height: 70px;
    border-bottom: 5px solid var(--red);
  }

  .menu-container,
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .menu {
    background: none;
  }

  .menu > li {
    display: flex;
    margin: 0 20px;
  }

  .logo {
    position: absolute;
    left: 20px;
    top: 7px;
    height: auto;
  }

  .navigation {
    color: var(--white);
    line-height: 70px;
    display: inline-block;
    margin-bottom: 26px;
  }
}
